body {
  background: 
    url(background_temp.png) top center no-repeat,
    linear-gradient(to right, #ec895f, #ffffff, #ec895f);
  background-size: 100% auto;
}

.content {
  height: 1000vh;
}

#cursed {
  display: none;
  background-color: #ec895f;
  color: #510051;
}