/* Palette
 * Gray       7a807e
 * Gray-brown 735f58
 * Brown      b87561
 * Peach      fa964a
 * Orange     ffae0a
 * Yellow     f5c90c
 */

html {
  scroll-behavior: smooth;
}
* {
  font-family: 'Roboto Mono', monospace;
  /* border: solid 1px red; */
}
body {
  width: 100%;
  margin: 0;
  height: 1000vh;
  background-image: linear-gradient(to right, #fa964a, #ffffff, #fa964a)
}
.top {
  display: flex;
  flex-direction: column;
  height: 78vh;
  height: 78svh; /* Fix weirdness with address bars on mobile */
  text-align: center;
  padding-top: 10vh;
  /* background-color: white; */
  background-image: url('../images/background_temp2.png');
  background-size: cover;
}
.top-title {
  font-size: min(6em, 10vh, 15vw);
}
.top h2 {
  font-size: min(4em, 8vh, 10vw);
}
.header {
  position: sticky;
  top: 0;
  height: 12vh;
  text-transform: uppercase;
  background-color: #735f58;
  color: white;
  text-align: center;
  overflow-x: clip;
  z-index: 1;
}
.header a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  display: table;
}
.header span {
  vertical-align: middle;
  display: table-cell;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 5vw 0 5vw;
  height: 100%;
}
.header li {
  display: block;
  flex: 1 1 auto;
  list-style-type: none;
  font-size: min(2em, 2vw);
  height: 80%;
  margin: 0 5px 0 5px;
}
.header-fade {
  height: 1vh;
  background-image: linear-gradient(to bottom, #735f58, transparent);
}
.nav-link {
  background-image: linear-gradient(to bottom, #dc8b58, #87695e);
  transition: transform 0.2s ease-in-out;
}
.nav-link:hover {
  transform: scale(1.05);
}
.nav-accent {
  flex: 1 1 auto;
  background-image: linear-gradient(to bottom, #ffae0a, #dc8b58);
}
.content h1 {
  text-align: center;
}
.content > section {
  padding: 0 5vw 1.5em 5vw;
  margin: 0 10vw 1em 10vw;
  background-color: rgb(255 255 255 / 0.3);
  border-radius: 10px;
}
.section-anchor {
  position: relative;
  top: calc(-12vh - 1em);
  height: 0;
}

/* FAQs */
.faq {
  background-color: #fa964a;
  border-radius: 10px;
  margin-bottom: 2px;
  padding: 0 10px 0 5px;
}
.faq-content {
  opacity: 0;
  font-size: 0em;
  transition: opacity 0.125s, font-size 0.25s 0.125s;
}
.faq-content > *:last-child {
  margin-bottom: 0;
}
.faq-title:has(input:checked) + .faq-content {
  opacity: 1;
  font-size: 1em;
  transition: opacity 0.125s 0.375s, font-size 0.25s 0.125s;
}
.faq-icon {
  float: left;
  margin-right: 5px;
  transition: transform 0.25s ease-in-out;
}
.faq-title:has(input:checked) .faq-icon {
  transform: rotate(90deg);
}
.faq-title {
  padding: 2px;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 0;
  display: block;
}
.faq-title input {
  display: none;
}

/* Schedule */
table {
  width: 100%;
}
td {
  font-size: 1em;
  background-color: #fa964a;
  padding: 10px;
  border-radius: 5px;
}
